<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="robots" content="index, follow, all">
    {% block stylesheets %}
        <link href="{{ asset('../assets/css/backoffice/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('../assets/css/backoffice/animate.css')}}" rel="stylesheet" />
        <link href="{{ asset('../assets/css/backoffice/font-awesome.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('../assets/css/backoffice/style-bo.css') }}"  />
        <link href="{{ asset('../assets/css/backoffice/nprogress.css') }}" rel="stylesheet">
        <link href="{{ asset('../assets/css/backoffice/custom.min.css')}}" rel="stylesheet" />
    {% endblock %}
    <title>
        {% block title %}
            {{ 'Initiative Solidaire : back-office' }}
        {% endblock %}
    </title>
    <meta property="og:image" content="" />
    <link rel="shortcut icon" href="" />
</head>
<body>
{{ render(controller('App\\Controller\\Admin\\AdminController::navbar') )}}
<div class="row" style="{#display: inline-flex;position: absolute;top: 63px;#}">
  {% block body %}
  {% endblock %}
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('../assets/js/backoffice/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../assets/js/backoffice/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../assets/js/backoffice/nprogress.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../assets/js/backoffice/custom.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../assets/js/fontAwesomes.js')}}"></script>
    <script type="text/javascript">
        $('#dropdownMenuButton').click(function(){
            $('.dropdown-toggle').dropdown();
        });
        $(document).ready(function(){
            NProgress.start() ;
            NProgress.set(100);
        });
    </script>
{% endblock %}
</body>
</html>
